<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<div  id="error_panel">
		</div>
		<div class="container">
			<h1><%= title %></h1>
			<p>click to connect to server</p></br>
			<form name="form_connect" action="javascript:start_connection();" >
				<label>username</label>
				<input type="text" id="name" placeholder="Username" value="Guest"></input></br>
				<label>host</label>
				<input type="text" id="host" placeholder="host" value="95.69.124.91"></input></br>
				<label>port</label>
				<input type="text" id="port" placeholder="port" value="4000"></input>
				<button id="connect">Connect</button>
				<!-- <input type="button" value="Connect" onClick="start_connection();" /> -->
			</form>
		</div>

		<div id="absoluteCenter"  style="display:none">
		</div>

		<div id="blocker">
			<div id="instructions">
				<h2>Click to play</h2>
				</p>W,A,S,D + mouse</p>
			</div>
		</div>

	 
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="/javascripts/three.min.js"></script>
		<script src="/javascripts/FirstPersonControls.js"></script>
		<script src="javascripts/PointerLockControls.js"></script>
		<script type="text/javascript" src="/javascripts/global.js"></script>
		<script type="text/javascript" src="/javascripts/connection.js"></script>
		<script type="text/javascript" src="/javascripts/drawing.js"></script>
		<script type="text/javascript" src="/javascripts/game.js"></script>
	</body>

</html>