<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<div  id="error_panel">
		</div>
		<div class="container">
			<h1><%= title %></h1>
			<p>click to connect to server</p></br>
			<form name="form_connect" action="javascript:start_connection();" >
				<label>username</label>
				<input type="text" id="name" placeholder="Username" value="Guest"></input></br>
				<label>host</label>
				<input type="text" id="host" placeholder="host" value="192.168.108.49"></input></br>
				<label>port</label>
				<input type="text" id="port" placeholder="port" value="4000"></input>
				<button id="connect">Connect</button>
				<!-- <input type="button" value="Connect" onClick="start_connection();" /> -->
			</form>
		</div>

		<div id="absoluteCenter"  style="display:none">
	
		</div>
		<div id="info-tab" style="display: none; position: absolute; color: red; font-size: 16px; background-color: rgba(1,1,1,0.5); border: 1px solid gray; margin-left: 150px; margin-top: 150px; padding: 5px; float: left; min-width: 300px; min-height: 300px;"></div>
		<div id="info-player" style="display: none; position: absolute; color: red; font-size: 16px; background-color: rgba(1,1,1,0.5); border: 1px solid gray; margin-right: 0px; margin-top: 2px; padding: 5px; float: right;">Estás aqui</div>

		<div id="blocker">
			<div id="instructions">
				<h2>Click to play</h2>
				</p>W,A,S,D + mouse</p>
			</div>
		</div>

	 
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="/javascripts/three.min.js"></script>
		<script src="/javascripts/FirstPersonControls.js"></script>
		<script src="javascripts/PointerLockControls.js"></script>
		<script type="text/javascript" src="/javascripts/global.js"></script>
		<script type="text/javascript" src="/javascripts/connection.js"></script>
		<script type="text/javascript" src="/javascripts/drawing.js"></script>
		<script type="text/javascript" src="/javascripts/game.js"></script>
	</body>

</html>