<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<div  id="error_panel">
		</div>
		<div class="container">
			<h1><%= title %></h1>
			<h2>Connect to a server</h2>
			<form name="form_connect" action="javascript:start_connection();" >
				<ul>
					<li>
						<input type="text" id="name" placeholder="Username" value="Guest"></input></br>
					</li>
					<li>
						<input type="text" id="host" placeholder="Host" value="<%=ip%>"></input></br>
					</li>
					<li>
						<input type="text" id="port" placeholder="port" value="4000"></input>
					</li>
					<li>
						<button id="connect">Connect</button>
					</li>
				</ul>
				<!-- <input type="button" value="Connect" onClick="start_connection();" /> -->
			</form>

			<div class="how-to">
				<h2>Instructions</h2>
				<ol>
					<li>
						Click on the screen to start playing
					</li>
					<li>
						Use WASD or arrow keys to move around and the mouse to look.						
					</li>
					<li>
						Press <strong>tab</strong> to view online players.
					</li>
				</ol>

			</div>
		</div>

		<div id="absoluteCenter"  style="display:none">
	
		</div>
		<div id="info-tab" style=""></div>
		<div id="info-player" style="">Estás aqui</div>

		<div id="blocker">
			<div id="instructions">
				<h2>Click to play</h2>
				</p>W,A,S,D + mouse</p>
			</div>
		</div>
		<div id="notification">
			<div id="notification-message">
				GAME OVER.
			</div>
		</div>

	 
		<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
		<script src="/javascripts/three.min.js"></script>
		<script src="/javascripts/FirstPersonControls.js"></script>
		<script src="javascripts/PointerLockControls.js"></script>
		<script type="text/javascript" src="/javascripts/global.js"></script>
		<script type="text/javascript" src="/javascripts/connection.js"></script>
		<script type="text/javascript" src="/javascripts/drawing.js"></script>
		<script type="text/javascript" src="/javascripts/game.js"></script>
	</body>

</html>