<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>click to connect to server</p><button onclick=" location.href = 'http://localhost:3000/start_connection' ">Connect</button>
  </body>
</html>